doctype html 
html
  head
    title Tareas
  body
    form(action="/sessions" method="POST")
      input(type="email" name="email" placeholder="correo")
      input(type="password" name="password" placeholder="contraseña")
      input(type="submit" value="Iniciar sesion")