doctype html
html
  head
    title Tareas
  body
      
    form(action="/categories" method="POST")
        input(name="title" placeholder="categoria")
        input(type="color" name="color")
        input(type="submit" value="Guardar")